.app__header {
  display: flex;
  width: 100%;
  align-items: center;
}

.app__header-text {
  flex: 1;
  width: 100%;
  z-index: 2;
}

.app__header-img {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  flex: 1;
  position: relative;
  z-index: 2;
}

.app__header-img img {
  width: 525px;
  height: 439px;
  z-index: 2;
}

.app__header-img_effect {
  background: var(--gradient-background);
  width: 8rem;
  height: 12rem;
  position: absolute;
  right: 28%;
  opacity: 25%;
  z-index: 1;
}

/* -------------------- */

@media screen and (max-width: 1150px) {
  .app__header-img img {
    width: 400px;
    height: auto;
  }
}

@media screen and (max-width: 650px) {
  .app__header {
    flex-direction: column-reverse;
  }

  .app__header-img {
    align-items: center;
    justify-content: center;
  }

  .app__header-text {
    justify-content: center;
    text-align: center;
  }
}
