.app__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;

  border-width: 1rem;
  border-style: solid;
  border-image-source: var(--gradient-background);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.app__footer-logo {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.app__footer-logo img {
  width: 4.5rem;
  height: 4rem;
}

.app__footer-content {
  flex: 1;
}

.app__footer-content_subtext {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.app__footer-content_subtext p {
  margin-right: 2rem;
}

.app__footer-email {
  flex: 1;
}

@media screen and (max-width: 650px) {
  .app__footer {
    flex-direction: column;
  }
  .app__footer div {
    padding-bottom: 2rem;
  }
}
